* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.973), rgb(18, 0, 99));
    background: aqua !important;

}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.header .logo {
  background-color: rgb(0, 150, 12);
  color: aliceblue;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

.header .nav {
  display: flex;
  gap: 20px;
}

.header .nav a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.header .nav a:hover{
    color:rgb(0, 150, 12) ;
}

.header .nav a span {
  color: rgb(0, 150, 12);
}


/* section one */

.sectionOne{
    width: 100%;
    height: 90vh;
    display: flex;
}
